<div class="item" [ngClass]="{selected: selected}">
  <img class="item-image" [src]="'items/'+item.id+'.png'">
  <div class="description">
    <div class="name">{{item.name}}</div>
    <div class="weight">{{item.weight}}</div>
  </div>
  <div class="hover">
    <div>
      <div class="actions">
        <button (click)="selectedItem.emit()">Select item</button>
      </div>
    </div>
  </div>
  <div class="limit-time">
    only available {{now | date: 'dd.MM'}} - {{item.expiresAt | date:'dd.MM'}}
  </div>
  <!---Todo insert here info that item got claimed--->
</div>

