<div class="basic-info">
  <img src="home.png">
  <div class="info-box">
    <div class="header">Reduce Waste Save More</div>
    <div>Reducing Food Waste, One Bite at a Time.</div>
    <button>Explore Now</button>
  </div>
</div>

<div class="step-system">
  <div class="tagline">
    <h2>3 Steps Zero Waste </h2>
    <span>Lets not waste food!</span>
  </div>
  <div class="steps">
    <div class="step" routerLink="customer">
      <img src="step1.png">
      <h3>Step 1</h3>
    </div>
    <div class="step" routerLink="org">
      <img src="step2.png">
      <h3>Step 2</h3>
    </div>
    <div class="step" routerLink="farmer">
      <img src="step3.png">
      <h3>Step 3</h3>
    </div>
  </div>
</div>

