:host {
  .image-header {
    max-height: 45vh;
    overflow: hidden;
    position: relative;

    .background {
      width: 100vw;
    }

    .info {
      position: absolute;
      bottom: 1rem;
      right: 2ch;
    }
  }
}

